<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>storage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="setInfo()"> Store device info </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="remove('info')" color="danger">
          Delete device info
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="margin: 10px auto">
          <ion-button (click)="get('info')">
            Get device info from storage
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="margin: 10px auto">
          <ion-button (click)="get('name')">
            Request a invalid property
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
